$black: #000;

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  border-bottom: 2px dashed $black;
  width: 80%;
  margin: 0 auto;

  &:hover {
    color: blue;
  }
}
